html{
    font-size: 62.5%;
    /*rem em pixels base 10, ex: 1rem = 10px */
}
body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    background-color: $body-background;
}
button{
    cursor: pointer;
}
button:disabled{
    cursor:default;
}